//
   Created by xiangtian on 2017/1/12.
extends ../layout
block content
    table.table.table-bordered
        caption 边框表格布局
        thead
            tr
                th 名称
                th 城市
                th 邮编
        tbody
            tr
                td Tanmay
                td Bangalore
                td 560001
            tr
                td Tanmay
                td Bangalore
                td 560001
            tr
                td Tanmay
                td Bangalore
                td 560001