doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(type='text/javascript' src="/js/jquery-1.11.3.min.js")
    //baidu编辑器
    link(rel='stylesheet', href='/plugins/umeditor/themes/default/css/umeditor.css')
    script(type='text/javascript' src="/plugins/umeditor/umeditor.config.js")
    script(type='text/javascript' src="/plugins/umeditor/umeditor.min.js")
    script(type='text/javascript' src="/plugins/umeditor/lang/zh-cn/zh-cn.js")
  body
    block content
